# Подключение к удаленному Dev-серверу (рекомендуется для фронтенд-разработки без локального бэкенда):
# NEXT_PUBLIC_API_URL=https://dev.movee.website/api

# Подключение к локальному бэкенду:
NEXT_PUBLIC_API_URL=http://localhost:3001/api
